bin/
obj/
publish/

*.user
*.suo
.vs/

docs/perf-test/repord.md
docs/perf-test/node_modules/

appsettings.Development.json

# Jest & performance test scripts
node_modules/
coverage/
*.test.js
*.test.jsx
*.spec.js
*.spec.jsx
jest.config.js
jest.config.ts


